@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('style_left_pane.css');
@import url('style_main.css');
@import url('style_nav.css');
@import url('style_media.css');

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #F2D5BB;
    font-family: "Ubuntu", sans-serif;
    color: #262015;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    flex-direction: column;
    border-radius: 10px;
    background-color: #D9B88F;
}

.container-header {
    text-align: center;
    padding-top: 5px;
}

header h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.content {
    flex: 3;
    padding-top: 10px;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, 150px);
}

#header-quote {
    quotes: "„""“""‚""‘";
}

.about-page-button {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #d87c12 5%, #d87c12 100%);
    background-color: #d87c12;
    border-radius: 6px;
    border: 1px solid #d87c12;
    display: inline-block;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

.about-page-button:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}

.about-page-image figcaption {
    display: flex;
    margin-bottom: 10px;
    margin-top: 5px;
}

#picture1 {
    grid-area: image1;
    max-width: 300px;
}

#picture2 {
    grid-area: image2;
    width: 300px;
}

.btn-black {
    color: #0c0b09;
}

.btn-black:hover {
    color: #221200;
}

.footer {
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    text-align: right;
    margin-top: 5px;
    text-transform: uppercase;
    border-top: 2px solid #D9984A;
}

.submit-btn {
    background-color: #D9BDAD;
    border-radius: 15px;
    border: 1px solid #262015;
    display: inline-block;
    cursor: pointer;
    color: #0e0e0e;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #705e3d;
    width: 150px;
}

.submit-btn:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #D9BDAD 100%);
    background-color: #D9984A;
}

#subject {
    grid-auto-columns: 600px;
    height: 150px;
}

.card {
    margin-top: 10px;
}

.caption-image {
    font-size: small;
}

.social_about {
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.social_about img {
    width: 100px;
    height: 30px;
}